.home-page {
    margin-right: 100px;
    padding: 15px 0px 15px 15px;
    // .text-zone {
    //     position: absolute;
    //     top: 50%;
    //     left: 10%;
    //     transform: translateY(-50%);
    //     width: 40%;
    //     max-height: 90%;
    // }
    // h1 {
    //     color: #000;
    //     font-size: 20px;
    //     font-style: italic;
    //     font-weight: 750; 

    //     &::before {
    //         content: '<h1>';
    //         // TODO
    //     }
    //     img {
    //         width: 32px;
    //     }
    // }
}

.masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // width: 91.5%;
}

.masonry-grid-column {
    background-clip: padding-box;
    margin-left: 7px;
    margin-right: -41px;
    margin-bottom: 9px;
    margin-top: 9px;
    transition: .2s;

    &:hover {
        opacity: .7;
    }
}

