.home-page {
    padding: 15px;
}

.masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    // width: 91.5%;
}

.masonry-grid-column {
    background-clip: padding-box;
    margin-left: 7px;
    margin-right: -41px;
    margin-bottom: 11px;
    margin-top: 7px;
    transition: .2s;

    &:hover {
        opacity: .7;
    }
}

.image-viewer-background {
    display: grid;
    grid-template-rows: 90% 10%;

    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;

    background-color: #DDD; // TODO: replace with $background-color
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.fullsize-image {
    display: grid;
    grid-row-start: 1;

    justify-content: center;
    margin: auto;
    margin-bottom: 0;
    z-index: 1;
    top: 15px;
    max-height: 100%;
    max-width: 92%;

    animation: fadeIn 1s forwards;
}

.viewer-textzone {
    display: flex;
    justify-content: center;
    bottom: 2vh;
    z-index: 2;

    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;

    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000;
}

.divider {
    font-style: normal;
}