.home-page {
    .text-zone {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    h1 {
        color: #000;
        font-size: 20px;
        font-style: italic;
        font-weight: 750; 

        &::before {
            content: '<h1>';
            // TODO
        }
        img {
            width: 32px;
        }
    }
}