html {
  font-size: 50%;
}

body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  color: #333;
  background: #DDD;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
